@model IEnumerable<AisMKIT.Models.ListOfCouncilTheatrical>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="container overflow-auto">

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ListOfTheatrical.NameRus)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastNameOfArts)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstNameOfArts)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PatronicNameOfArts)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateInArtCouncil)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateOutArtCouncil)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ListOfTheatrical.NameRus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastNameOfArts)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstNameOfArts)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PatronicNameOfArts)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateInArtCouncil)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOutArtCouncil)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
    </div>