@model IEnumerable<AisMKIT.Models.ListOfTheatrical>

@{
    ViewData["Title"] = "Index";
}

<h3>Реестр театрольно-зрелищных учреждений</h3>
<hr />
<p>
    <a asp-action="Create">Добавить</a>
</p>

<div class="d-flex justify-content-end">

    <div>
        <a class="btn btn-outline-success" asp-action="GetPdf">PDF</a>
    </div>

    <div>
        <a class="btn btn-success" asp-action="GetExcel">Excel</a>
    </div>

    <div>
        <a class="btn btn-outline-success" asp-action="GetPdf">Word</a>
    </div>

</div>
<br />

<div class="container overflow-auto">
    <table class="table table-striped">
        <thead class="thead-light">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.NameRus)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DictTheatricalLegalForm)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.INN)
                </th>
                <th>
                    ФИО директора
                </th>
                <th>
                    ФИО художественного руководителя
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NumEmployees)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DictTheatricalFinSource)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.NameRus)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DictTheatricalLegalForm.NameRus)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.INN)
                    </td>
                    <td>
                        @item.LastNameDirector @item.FirstNameDirector @item.PatronicNameDirector
                    </td>
                    <td>
                        @item.LastNameOfArtsDirector @item.FirstNameOfArtsDirector @item.PatronicNameOfArtsDirector
                    </td>
                    <td>
                        @item.NumEmployees
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DictTheatricalFinSource.NameRus)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>