@model IEnumerable<AisMKIT.Models.ListOfTheatrical>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="container overflow-auto">

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.NameRus)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NameKyrg)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DictTheatricalLegalForm)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.INN)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastNameDirector)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstNameDirector)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PatronicNameDirector)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastNameOfArtsDirector)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstNameOfArtsDirector)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PatronicNameOfArtsDirector)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NumEmployees)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DictTheatricalFinSource)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ReregistrationDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DeactiveDate)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.NameRus)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NameKyrg)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DictTheatricalLegalForm.NameRus)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.INN)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastNameDirector)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstNameDirector)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PatronicNameDirector)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastNameOfArtsDirector)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstNameOfArtsDirector)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PatronicNameOfArtsDirector)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NumEmployees)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DictTheatricalFinSource.NameRus)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReregistrationDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DeactiveDate)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>