@model AisMKIT.Models.ListOfMonument

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ListOfMonument</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DictTypeOfMonument.NameRus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DictTypeOfMonument.NameRus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfMonument)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfMonument)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DictRegion.NameRus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DictRegion.NameRus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DictDistrict)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DictDistrict.NameRus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
