@model IEnumerable<AisMKIT.Models.ListOfMonument>

@{
    ViewData["Title"] = "Index";
}

<h3>
    Государственный список
    памятников истории и культуры Кыргызской Республики
    республиканского значения
</h3>
<hr />
<p>
    <a asp-action="Create">Добавить</a>
</p>

<div class="d-flex justify-content-end">

    <div>
        <a class="btn btn-outline-success" asp-action="GetPdf">PDF</a>
    </div>

    <div>
        <a class="btn btn-success" asp-action="GetExcel">Excel</a>
    </div>

    <div>
        <a class="btn btn-outline-success" asp-action="GetPdf">Word</a>
    </div>

</div>
<br />

<div class="container overflow-auto">
    <table class="table table-striped">
        <thead class="thead-light">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.NameRus)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DictTypeOfOjbectMonument.NameRus)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DictTypeOfMonument.NameRus)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DictAffiliationOfMonument.NameRus)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateOfMonument)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DictRegion.NameRus)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DictDistrict.NameRus)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NameRus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DictTypeOfOjbectMonument.NameRus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DictTypeOfMonument.NameRus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DictAffiliationOfMonument.NameRus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfMonument)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DictRegion.NameRus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DictDistrict.NameRus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Редактировать</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Подробности</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>